.container {
  border: 2px solid rebeccapurple;
  border-radius: 8px;
  padding: 8px;
  /* max-width: 300px; */
}

.listItem {
  list-style: none;
  padding: 0 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  border: 1px solid rebeccapurple;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  width: 284px;
}

.contactList {
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  border-radius: 8px;
  margin: 0;
}
